.navbar-color{
    background-color: blueviolet !important;
}

.menu-color{
    color: white;
}

.border-btm{
    border: 0;
    background-color: blueviolet;
    border-bottom: 2px solid white;
    border-radius: 0;
    padding: 2px 0px;
}

::placeholder{
    color: white !important;
}

.border-btm:focus{
    padding: 1px 2px;
    /* border:0; */
    border: 2px solid red;
    color: white;
    background-color: unset;
    box-shadow: none;
}

.border-btm:focus-visible{
    outline: none;
}

.card-header{
    background-color: white;
}

.footercolor{
    background-color: blueviolet;
    color: white;
}